#Basic
.DS_Store
/local-config.php
/shared
/content/upgrade/
/content/backup-db/
/content/wp-cache-config.php
/content/db.php
/content/cache/
/content/debug/
/object-cache.php

#WP Uploads (on by default)
/content/uploads

#Project Files
*.esproj
*.sublime-project
*.sublime-workspace